<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Navbar</title>
  <link rel="stylesheet" href="/dashboard.css">
  <link rel="stylesheet" href="/navbar.css">

  <style>

  </style>
</head>
<body>
  <div class="navbar">
    <a href="/dashboard.html">Home</a>
    <a href="/services.html">Services</a>
    <a href="/about.html">About</a>
    <a href="/contact.html">Contact</a>
    <a href="/signup.html">Sign-Up</a>
  </div>


<div class="hero">
  <!-- Heading inside background -->
  <div class="heading1">
    <h1>Marathi Event Managment</h1>
  </div>

  <!-- Boxes inside background -->
  <div class="container">
    <div class="box">
      <img src="/10.avif" alt="Sample Image">
      <h3>Party Halls</h3>
      <div class="inner-html">
        <p>Some Best Halls for your wedding, Party, Engagement or other purposes.</p>
        <a href="/halls.html" class="btn">See More</a>
      </div>
    </div>

    <div class="box">
      <img src="/2.jpeg" alt="Sample Image">
      <h3>Innovative Decorations</h3>
      <div class="inner-html">
        <p>Some Great Designs for your party Background.</p>
       <a href="/decorations.html" class="btn">See More</a>
      </div>
    </div>

    <div class="box">
      <img src="/11.jpeg" alt="Sample Image">
      <h3>Delicious Dinners</h3>
      <div class="inner-html">
        <p>Some best Caterers Information for your programs which are Helpful for you.</p>
        <a href="/dinners.html" class="btn">See More</a>
      </div>
    </div>

    <div class="box">
      <img src="/7.jpg" alt="Sample Image">
      <h3>Musical Ensemble</h3>
      <div class="inner-html">
        <p>Everything you need to know about our amazing Bands.</p>
       <a href="/bands.html" class="btn">See More</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
