<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Navbar</title>
  <link rel="stylesheet" href="/public/dashboard.css">
  <style>

  </style>
</head>
<body>
  <div class="navbar">
    <a href="/views/dashboard.html">Home</a>
    <a href="/views/services.html">Services</a>
    <a href="/views/about.html">About</a>
    <a href="/views/contact.html">Contact</a>
    <a href="/views/login.html">Login</a>
  </div>


<div class="hero">
  <!-- Heading inside background -->
  <div class="heading1">
    <h1>Marathi Event Managment</h1>
  </div>

  <!-- Boxes inside background -->
  <div class="container">
    <div class="box">
      <img src="/public/10.avif" alt="Sample Image">
      <h3>Party Halls</h3>
      <div class="inner-html">
        <p>Some Best Halls for your wedding, Party, Engagement or other purposes.</p>
        <a href="/views/halls.html" class="btn">See More</a>
      </div>
    </div>

    <div class="box">
      <img src="/public/2.jpeg" alt="Sample Image">
      <h3>Innovative Decorations</h3>
      <div class="inner-html">
        <p>Some Great Designs for your party Background.</p>
       <a href="/views/decorations.html" class="btn">See More</a>
      </div>
    </div>

    <div class="box">
      <img src="/public/11.jpeg" alt="Sample Image">
      <h3>Delicious Dinners</h3>
      <div class="inner-html">
        <p>Some best Caterers Information for your programs which are Helpful for you.</p>
        <a href="/views/dinners.html" class="btn">See More</a>
      </div>
    </div>

    <div class="box">
      <img src="/public/7.jpg" alt="Sample Image">
      <h3>Musical Ensemble</h3>
      <div class="inner-html">
        <p>Everything you need to know about our amazing Bands.</p>
       <a href="/views/bands.html" class="btn">See More</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
