<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
    <div class="navbar">
    <a href="/dashboard.html">Home</a>
    <a href="/services.html">Services</a>
    <a href="/about.html">About</a>
    <a href="/contact.html">Contact</a>
    <a href="/login.html">Login</a>
  </div>
<div class="container">
    <h2>Sign Up</h2>
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have account? <a href="/">Login</a></p>
</div>
</body>
</html>
