    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #ffe6e6; /* light red background */
      display: flex;
      justify-content: center;
      align-items: flex-start; /* keep box below navbar */
      min-height: 100vh;
    }

    .navbar {
      background-color: #fc5151;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px 0;
    }

    .navbar a {
      color: white;
      text-align: center;
      padding: 10px 18px;
      margin: 5px;
      text-decoration: none;
      background-color: #fc5151;
      border-radius: 20px;
      transition: background 0.3s;
      font-size: 16px;
    }

    .navbar a:hover {
      background-color: #fb6363;
    }

.container {
    background: white;
    padding: 60px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 213px auto 0 auto; /* center the container horizontally */
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}
